body {
	background: #DDD !important;
	font-family: helvetica;
}

div#console {
	margin-bottom: 5px;
	height: 110px;
	border: 1px solid #000;
	overflow: auto;
	word-wrap: break-word;
	font-size: 0.8em;
	font-family: 'courier new';
}

.log-item {
	margin: 1px 0 1px 0;
}

.prefix {
	font-weight: bold;
}

.error-item > .prefix {
	color: red;
}

.timestamp {
	font-size: 0.65em;
}
