* {
	box-sizing: border-box;
	user-select: none;
}

body {
	background: #DDD !important;
	font-family: helvetica;
}

div.left {
	float: left;
} div.left input {
	width: 120px;
	user-select: text;
}

div.right {
	float: right;
	text-align: right;
} div.right input {
	width: 50px;
	user-select: text;
}
