* {
	box-sizing: border-box;
	user-select: none;
}

html {
	height: 100%;
}

body {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: grid;
	grid-template-rows: 1fr auto;
}

#content {
	grid-row-start: 2;
	grid-row-end: 3;
}

/**************/

#controls {
	float: right;
}

#volume {
	display: none;
}

#edit-button {
	position: fixed;
	font-size: 1.2em;
	right: 15px;
	bottom: 20px;
	z-index: 3;
}

#edit-box {
	z-index: 2;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	margin: 0px;
	border: none;
	padding: 1em;
	background: #333;
	color: #FFF;
	resize: none;
	user-select: text;
	white-space: pre;
	-moz-tab-size: 2;
			 tab-size: 2;
}

/**************/

label {
	display: inline-block;
	margin-top: 1em;
	cursor: pointer;
	font-size: 1.5em;
	font-weight: bold;
	color: #FFF;
	text-shadow:
		-1px -1px #000,
		 0px -1px #000,
		 1px -1px #000,
		 1px  0px #000,
		 1px  1px #000,
		 0px  1px #000,
		-1px  1px #000,
		-1px  0px #000;
} div:first-of-type > label {
	margin-top: 0;
}

input.category-toggle, div.category {
	display: none;
} input.category-toggle:checked ~ div.category {
	display: block;
}

button.sound {
	margin: 0.25em;
	border: 2px solid #000;
	border-radius: 0.5em;
	outline: none;
	padding: 0.25em 0.5em;
	background: #BBB;
} button.sound:hover {
	cursor: pointer;
	background: #DDD;
} button.sound:active {
	background: #CCC;
}

.spacer {
	display: inline-block;
	width: 50px;
}

.tts-text, .tts-voice {
	display: block;
	width: 85%;
	font-size: 1.05em;
	margin-bottom: 1px;
}
