body>div {
	border-bottom: 1px solid rgba(0,0,0,0.6)
}

body>div::after {
	display: block;
	clear: both;
}

.left {
	float: left;
	color: #0F0;
}

.right {
	float: right;
	color: #0F0;
}

div.radio {
	margin-top: 5px;
}

input[type="radio"] {
	margin-top: -2px;
	vertical-align: middle;
}
