body {
	overflow: auto !important;
}

#step-list {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#step-list>div {
	padding: 0px 10px 0px 10px;
	text-align: left;
	font-size: 110%;
	line-height: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.6);
} #step-list>div:hover {
	background: rgba(255,255,255,0.2);
} #step-list>div.done {
	opacity: 0.2;
}

.safe {
	color: #A00;
} .item {
	color: #0A0;
} .key {
	color: #DA2;
} .purple {
	color: #A0A;
} .indent {
	margin-left: 20px;
}
